<nav>
    <div class="n_layout">
        <div class="n_nav_block">
            <div class="n_nav">Навигация</div>
        </div>
        <div class="n_label_block">
            <a class="n_label" routerLink="/profile" routerLinkActive="active">Личный кабинет</a>
        </div>
        <div class="n_label_block">
            <a class="n_label" routerLink="/appointments" routerLinkActive="active">Мои записи к  врачу</a>
        </div>
        <div class="n_label_block">
            <br />
            <form method="post">
                <a class="n_label" href="" (click)="logOut()">Выход из аккаунта</a>
            </form>
        </div>
    </div>
</nav>