
<select [(ngModel)]="position" class="selectitem" (ngModelChange)="onChangePosition($event)">
    <option *ngFor="let item of positions" [value]="item.name">
      {{item.name}}
    </option>
  </select>
  <select name="doctor" [(ngModel)]="doctor" class="selectitem" (ngModelChange)="onChangeDoctor($event)">
    <option *ngFor="let item of doctors" [value]="item.fullname" [ngValue] = "item.id">
      {{item.fullname}}
    </option>
  </select>
  <input name="date" type="date" [(ngModel)]="date" (ngModelChange)="onChangeDate($event)">

  <div *ngIf = "having">
    <select [(ngModel)]="timeforadd" class="selectitem" (ngModelChange)="onChangeTime($event)">
      <option *ngFor="let item of freetime" [value]="item">
        {{item}}
      </option>
    </select>
  </div>

  <form class="form" #Form="ngForm" (ngSubmit)="AddAppointment(Form)">
    <input class="e_save_btn" type ="submit" value="Записаться"/>
  </form>

  <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [selected]="date"  (selectedChange)="onChangeDate($event)"></mat-calendar>
  </mat-card>
  <p>Selected date: {{date}}</p>
