body {
  font: 12px 'Comic Sans MS', 'Trebuchet MS', Arial, Helvetica;
  margin: 0;
}

.demo-inline-calendar-card {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 25px;
  border: solid 1px;
}

.aa_l_head{
  font-size: 24pt;
  position: absolute;
  left: 350px;
  margin-top: 2%;
}

.aa_l_placeholder{
  font-size: 13pt;
}

.selectitem
{
  width: 300px;
  font-size: 13pt;
}

.aa_block {
  position: relative;
  width: 485px;
  font-size: 11pt;
}

.aa_block_time {
  position: absolute;
  top: 720px;
  width: 485px;
  font-size: 11pt;
}

.aa_layout {
  position: absolute;
  margin-top: 5%;
  left: 360px;
  width: 1200px;
}

.aa_layout2 {
  margin-top: 5%;
  margin-right: 10%;
  float: right;
  font-size: 14pt;
  border: solid 2px;
  border-radius: 10px;
  font-size: bold;
  padding: 5px;
}

.aa_btn{
  position: absolute;
  width: 485px;
  top: 550px;
}
