<app-nav></app-nav>
<body>
  <p class="aa_l_head">Запись на прием к врачу</p>
  <div class="aa_layout">

    <mat-form-field appearance="outline" class="aa_block">
      <mat-label>Отрасль необходимой помощи</mat-label>
      <mat-select [(ngModel)]="position" (ngModelChange)="onChangePosition($event)">
        <mat-option option style="display:none;"></mat-option>
        <mat-option *ngFor="let item of positions" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>

  <mat-form-field appearance="outline" class="aa_block" *ngIf = "isPosition">
    <mat-label>Врач</mat-label>
    <mat-select name="doctor" [(ngModel)]="doctor" (ngModelChange)="onChangeDoctor($event)">
      <mat-option option style="display:none;"></mat-option>
      <mat-option *ngFor="let item of doctors" [value]="item">
        {{item.fullname}}
      </mat-option>
    </mat-select>
  </mat-form-field><br><br>

  <div *ngIf = "isDoctor" class="aa_block">
    <label class="aa_l_placeholder">Выберите дату:</label><br>
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [minDate]="minDate" [selected]="date"  (selectedChange)="onChangeDate($event)"></mat-calendar>
    </mat-card>
  </div><br>

  <mat-form-field appearance="outline" class="aa_block_time" *ngIf = "isDate">
    <mat-label>Время для записи</mat-label>
    <mat-select *ngIf = "isHavingTimes" name="time" [(ngModel)]="timeforadd" (ngModelChange)="onChangeTime($event)">
      <mat-option option style="display:none;"></mat-option>
      <mat-option *ngFor="let item of freetime" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
    <label *ngIf = "!isHavingTimes" class="aa_l_placeholder">На данную дату времени для записи не осталось!</label><br>
  </mat-form-field><br>

  <div *ngIf = "isTime" class="aa_block">
    <form #Form="ngForm" (ngSubmit)="AddAppointment(Form)">
      <button class="aa_btn" type ="submit" mat-raised-button color="primary">Записаться на прием</button>
    </form>
  </div>
</div>

<div class="aa_layout2" *ngIf = "isTime">
  <label>Ваша запись:</label><br>
  <label>Область, в которой вам будет оказана услуга: {{position}}</label><br>
  <label>Врач, оказывающий услугу: {{doctor!.fullname}}</label><br>
  <label>Кабинет для приема: {{doctor!.office}}</label><br>
  <label>Дата приема: {{dateforshow}}</label><br>
  <label>Время приема: {{timeforadd}}</label><br>
</div>

</body>
